__pycache__/
app/__pycache__/
app/migrations/__pycache__/

morea_ds/__pycache__/
dress/__pycache__/
detonador/__pycache__/

poll/__pycache__/
poll/migrations/__pycache__/
db.sqlite3

.env
*:Zone.Identifier

env/
dev.py
static/graphs/*
media/graphs/*.html
media/profile/*
venv
pyvenv.cfg
.idea
Lib
Scripts

.tool-versions