* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

:root{
    --global-font: 'Poppins', Arial, Helvetica, sans-serif;

    --global-primary-color: #1C1D57;
    --global-second-color: #0003A7;
    --global-third-color: #33FF00;
    --global-fifth-color: #FFFFFF;
    --global-sixth-color: #e00000;
    --global-eighth-color: #0003A7;

    --global-seventh-color: #e00000;
    --global-ninth-color: #525352;
    --global-tenth-color: #2727c2;
    --global-eleventh-color: #004903;
    --global-twelfth-color: #2B2C2F;
    --global-thirteenth-color: #03009F;
}

.div1{
    width: 100vw;
    height: 2vh;
    background-color: var(--global-second-color);
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}