{% extends "dashboard/layout.html" %}

<!--  -->

{% block head %}
<title>Vestidos | Gerenciamento</title>
{% endblock head %}
<!--  -->
{% block content %}
<main class="container mt-5">
	<h1>Detonador</h1>
	{% regroup detonadorData by device.id as filteredDetonador %}
	<!--  -->
	{% for detonador in filteredDetonador %}
	<div class="card mt-3 mb-2">
		<div class="card-header">{{detonador.list.0.device.name}}</div>
		<div class="card-body">
			<form method="post" class="d-flex flex-column" id="form">
				{% csrf_token %}
				<input
					class="visually-hidden"
					value="{{detonador.list.0.device.id}}"
					name="deviceId"
					type="text"
				/>
				<div class="d-flex">
					{% for det in detonador.list %}
					<!--  -->
					{% if det.status %}
					<div class="form-check px-4 py-2">
						<input
							name="{{det.id}}"
							type="checkbox"
							class="form-check-input"
							id="{{det.id}}"
							checked
						/>
						<label class="form-check-label" for="{{det.id}}"
							>D{{det.pin}}</label
						>
					</div>
					{% else %}

					<div class="form-check px-4 py-2">
						<input
							name="{{det.id}}"
							type="checkbox"
							class="form-check-input"
							id="{{det.id}}"
						/>
						<label class="form-check-label" for="{{det.id}}"
							>D{{det.pin}}</label
						>
					</div>
					{% endif %}
					<!--  -->
					{% endfor %}
				</div>
				<button type="submit" class="btn btn-primary px-4 align-self-center">
					Salvar
				</button>
			</form>
		</div>
	</div>
	{% endfor %}
</main>
{% endblock content %}
