{% extends 'layout.html' %}
{% load static %}

{% block title %}
Candidatos
{% endblock title %}

{% block contend %}
    <link rel="stylesheet" href="{% static 'css/candidates.css' %}">
    <main>
        <div class="candidates-king-and-queen">
            <div class="div-title">
                <p class="title">Candidatos a Rei:</p>
            </div>
            <div class="all-candidates">
                <div class="all-candidates-child">
                    {% for candidato_p in perfil_candidato %}
                    <div class="all-candidates-child-item">
                        <img class="all-candidates-child-item-img" src="{% get_media_prefix %}{{candidato_p.foto_candidato}}" alt="User Profile">
                        <p class="title-candidates">{{candidato_p.candidato}}</p>
                        <p class="text-candidates">{{candidato_p.turma_candidato}}º IRC</p>
                        <p class="text-candidates" style="padding-top: 5px; text-align: center;">{{candidato_p.descricao_candidato}}</p>
                        <p class="text-candidates text-candidates-margin" style="font-size: 30px; font-weight: 800;">{{candidato_p.numero_do_candidato}}</p>
                    </div>
                    
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <div class="candidates-king-and-queen">
            <div class="div-title">
                <p class="title2">Candidatas a Rainha:</p>
            </div>
            <div class="all-candidates">
                <div class="all-candidates-child">
                    {% for candidata_p in perfil_candidata %}
                    <div class="all-candidates-child-item">
                        <img class="all-candidates-child-item-img" src="{% get_media_prefix %}{{candidata_p.foto_candidata}}" alt="User Profile">
                        <p class="title-candidates">{{candidata_p.candidata}}</p>
                        <p class="text-candidates">{{candidata_p.turma_candidata}}º IRC</p>
                        <p class="text-candidates" style="padding-top: 5px; text-align: center;">{{candidata_p.descricao_candidata}}</p>
                        <p class="text-candidates text-candidates-margin" style="font-size: 30px; font-weight: 800;">{{candidata_p.numero_da_candidata}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="div-musician">
            <img class="musician" src="{% static '/images/poll/musico-com-pandeiro.svg' %}" alt="musico-com-pandeiro">
        </div>
    </main>
    <div class="invisible-footer"></div>
{% endblock contend %}