{% extends 'layout.html' %}
{% load static %}

{% block title %}
	Urna
{% endblock title %}

{% block contend %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <main class="all">
        <div>
            <div class="div-title">
                <img class="hat" src="{% static 'images/poll/chapeu.svg' %}" alt="chapeu">
                <p class="title">Rei e Rainha</p>
                <br>
                <p class="title2">RJ-45</p>
            </div>
            {% if user.is_authenticated %}
            <p class="text">
                Cadastre os candidatos, assegure os
                <br>
                resultados e participe do concurso de Rei e
                <br>
                Rainha mais estimado Do IFS!
            </p>
            {% else %}
            <p class="text">
                Conheça os candidatos, vote, acompanhe os
                <br>
                resultados e participe do concurso de Rei e
                <br>
                Rainha mais estimado Do IFS!
            </p>
            {% endif %}
            <img class="cactus" src="{% static 'images/poll/fogueira-e-cactos.svg' %}" alt="Fogueira e cactos">
        </div>
        <img class="couple" src="{% static 'images/poll/casal.svg' %}" alt="casal">
    </main>
{% endblock contend %}