{% extends 'layout.html' %}
{% load static %}

{% block title %}
	Urna
{% endblock title %}

<body>
    <header>
        <nav class="container-navbar">
            <div class="logo-navbar">
                <a href="/">
                    <img class="logo" src="{% static 'images/poll/logo-morea.svg' %}" alt="Logo Morea">
                </a>
                <div class="mobile-menu">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </div>
            <div class="nav-list">
                <ul>
                    <a class="link-navbar" href="/">
                        <li>Início</li>
                    </a>
                    <a class="link-navbar" href="/candidates">
                        <li>Candidatos</li>
                    </a>
                    <a class="link-navbar" href="/result-pendent">
                        <li>Resultados</li>
                    </a>
                    <a class="link-navbar" href="/dashboard/">
                        <li>Dashboard</li>
                    </a>
                </ul>
            </div>
        </nav>
    </header>

{% block contend %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

    <main class="all">
        <div>
            <div class="div-title">
                <img class="hat" src="{% static 'images/poll/chapeu.svg' %}" alt="chapeu">
                <p class="title">Rei e Rainha</p>
                <br>
                <p class="title2">RJ-45</p>
            </div>
            {% if user.is_authenticated %}
            <p class="text">
                Cadastre os candidatos, assegure os
                <br>
                resultados e participe do concurso de Rei e
                <br>
                Rainha mais estimado Do IFS!
            </p>
            {% else %}
            <p class="text">
                Conheça os candidatos, vote, acompanhe os
                <br>
                resultados e participe do concurso de Rei e
                <br>
                Rainha mais estimado Do IFS!
            </p>
            {% endif %}
            <img class="cactus" src="{% static 'images/poll/fogueira-e-cactos.svg' %}" alt="Fogueira e cactos">
        </div>
        <img class="couple" src="{% static 'images/poll/casal.svg' %}" alt="casal">
    </main>
{% endblock contend %}