{% load static %}

<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'images/morea-sports.png' %}" type="image/x-icon" />
  <title>JIFS ADMIN</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/navbar-layout.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/menu.css' %}"/>


</head>
<body>
  <div class="container swiper">
    <div class="card-wrapper">
      <ul class="card-list swiper-wrapper">
        <li class="card-item swiper-slide">
          <a href="{% url 'register-candidates' %}" class="card-link">
            <img src="{% static 'images/poll/casal.svg' %}" alt="Card Image" class="card-image">
            <p class="badge badge-team">CANDIDATOS</p>
            <h2 class="card-title">Aqui você poderá cadastrar e visualizar as modalidades nas quais seu campus está inscrito. Também será possível cadastrar os seus jogadores!</h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
        <li class="card-item swiper-slide">
          <a href="{% url 'register-student' %}" class="card-link">
            <img src="{% static 'images/poll/casal.svg' %}" alt="Card Image" class="card-image">
            <p class="badge badge-technician">ALUNOS</p>
            <h2 class="card-title">Aqui você poderá cadastrar toda a sua comissão técnica, desde voluntários até estagiários. Posteriormente, será possível gerar os crachás na página "Crachá".</h2>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
        <li class="card-item swiper-slide">
          <a href="{% url 'menu' %}" class="card-link">
            <img src="{% static 'images/poll/casal.svg' %}" alt="Card Image" class="card-image">
            <p class="badge badge-match">PARTIDAS</p>
            <h2 class="card-title">Aqui você poderá cadastrar, editar e visualizar as partidas já registradas. Lembre-se de que, para iniciar uma partida, você deve acessar a área "Games"!</h2>

            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
      </ul>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Navigation Buttons -->
    <div class="swiper-slide-button swiper-button-prev"></div>
    <div class="swiper-slide-button swiper-button-next"></div>

    <div style="text-align: center; margin-top: 20px;">
        <button class="side-bar-buttons-items2" style="background-color: #970d00;; padding: 10px 20px; border: 0; border-radius: 7px; font-weight: 600;">
            <a href="{% url 'home' %}" style="color: #ffffff; font-size: 20px; text-decoration: none;">VOLTAR</a>
        </button>
    </div>

</div> 

  <ul class="notifications"></ul>
  <script src="{% static 'js/messages.js' %}"></script>
  {% if messages %}
  {% for message in messages %}
      <script>
          createToast("{{ message.tags }}", "{{ message }}");
      </script>
  {% endfor %}
  {% endif %}
  
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/manage.js' %}"></script>

</body>
</html>