#apagar nestante testando maiores candidatos
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de Votos</title>
</head>
<body>
    <h1>Lista de Candidatos</h1>
    <h2>candidatos a rei</h2>
    <ul>
        {% for candidate in lista_de_candidatos %}
            <li>{{ candidate.candidato }} - {{ candidate.numero_do_candidato }}  - {{ candidate.votos_do_candidato }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% if candidato_mais_votado %}
            <h2>Candidato mais votado:</h2>
            <p><strong>{{ candidato_mais_votado.candidato }}</strong> - Número: {{ candidato_mais_votado.numero_do_candidato }} - Votos: {{ candidato_mais_votado.votos_do_candidato }}</p>
        {% endif %}
    </ul>

    <h2>candidatos a rainha</h2>
    <ul>
        {% for candidate in lista_de_candidatas %}
            <li>{{ candidate.candidata }} - {{ candidate.numero_da_candidata }}  - {{ candidate.votos_da_candidata }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% if candidato_mais_votado %}
            <h2>Candidato mais votado:</h2>
            <p><strong>{{ candidato_mais_votado.candidato }}</strong> - Número: {{ candidato_mais_votado.numero_do_candidato }} - Votos: {{ candidato_mais_votado.votos_do_candidato }}</p>
        {% endif %}
    </ul>
    <h1>Top 3 Candidatos com Mais Votos</h1>
    <ol>
        <li>{{ candidato_1.candidato }} - {{ candidato_1.votos_do_candidato }} votos</li>
        <li>{{ candidato_2.candidato }} - {{ candidato_2.votos_do_candidato }} votos</li>
        <li>{{ candidato_3.candidato }} - {{ candidato_3.votos_do_candidato }} votos</li>
    </ol>

    <h1>Top 3 Candidatas com Mais Votos</h1>
    <ol>
        <li>{{ candidata_1.candidata }} - {{ candidata_1.votos_da_candidata }} votos</li>
        <li>{{ candidata_2.candidata }} - {{ candidata_2.votos_da_candidata }} votos</li>
        <li>{{ candidata_3.candidata }} - {{ candidata_3.votos_da_candidata }} votos</li>
    </ol>
</body>
</html>